.toolbarBox{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.headerButtonBox{
    justify-content: flex-end;
}
.headerBox{
    margin-bottom: 10px;
}
.userInfo{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.nameBox{
    margin: 10px;
}