/*.authorizationBox {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/
.loginBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 20px;
}
.box {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100vh;
}
.buttonBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:5px 50px;
}
.loaderBox{
    margin-left: 47px;
}
.title{
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}